{% extends 'AppBundle::layout.html.twig' %}

{% block javascripts %}
    {% javascripts 
    	'@AppBundle/Resources/public/js/*'
    	'@jquery' 
	%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
    	$(function() {
		    CollapsibleLists.apply(true)
		});
    </script>
{% endblock %}

{% block stylesheets %}
	{% stylesheets 
		'@AppBundle/Resources/public/less/layout.less'
		'@AppBundle/Resources/public/less/htmlvisualizer.less'
		filter='lessphp'
    	output='css/htmlvisualizer.css'
	%}
		<link href="{{ asset_url }}" rel="stylesheet" media="screen" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block title %}
	{{ file_name }}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block header_title %}
	<q>{{ file_name|replace({ ('.' ~ file_name|split('.')|last): '' }) }}</q>
{% endblock %}

{% block content %}
	<div class="listContainer">
		{{ html_string|raw }}
	</div>
{% endblock %}