{% extends 'AppBundle::layout.html.twig' %}

{% macro list_files(file_list) %}
		{% for key, file in file_list %}
			{% if file is iterable %}
				<li class="folder">{{ key }} : 
					<ul class="collapsibleList">
						{{ _self.list_files(file) }}
					</ul>
				</li>
			{% else %}
				<li>
					<a href="{{ path('visualizer_html', {'fileName': key}) }}">
						{{ file|replace({ ('.' ~ file|split('.')|last): '' }) }}
					</a>
				</li>
			{% endif %}
		{% endfor %}
{% endmacro %}

{% block javascripts %}
    {% javascripts 
    	'@AppBundle/Resources/public/js/*'
    	'@jquery' 
	%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
    	$(function() {
		    CollapsibleLists.apply(true);
		});
    </script>
{% endblock %}

{% block stylesheets %}
	{% stylesheets 
		'@AppBundle/Resources/public/less/layout.less'
		'@AppBundle/Resources/public/less/collapsibleList.less'
		filter='lessphp'
    	output='css/listfile.css'
	%}
		<link href="{{ asset_url }}" rel="stylesheet" media="screen" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block title %}
	File selection
{% endblock %}

{% set breadcrumb = 
	{ 
		'Home': { 
			'route': 'file_list', 
			'params': {} 
		}
	} 
%}

{% block header_title %}
	Choose a file to display in a collapsible list.
{% endblock %}

{% block content %}
	<div class="listContainer">
		<ul class="rootList fileList">
			{{ _self.list_files(file_list) }}
		</ul>
	</div>
{% endblock %}